

.header {
    display: flex;
}
.navbar{
    width: 100%;
}



#hamburguer {
    margin-left: 1%;
}

h1 {
    
    margin-top: 0.5%;
    font-size: 150%;
    color: aliceblue;
    margin-right: 50%;
    
}

h2 {
    margin-top: 0.4%;
    margin-right:-10%;
    font-size: 100%;
}

#barra {
    background: linear-gradient(to left, #000000, #434343);
    
}

.dropdown-item {
    font-size: 100%;
    
}

.navbar-nav .nav-link {
  
    font-size: 100%;
    font-weight: bold;
    background-color: #28a745;
    border-color: #28a745;
}
.navbar-light .navbar-nav .show>.nav-link {
    color: aliceblue;
}
.form-control {
    width: 60%;
}
/**barrita search**/
.mr-sm-2.form-control {
    width: 70%;
    height: 40px;
    float: right;
}
/**cajita del MENU**/
.dropdown-menu.show {
    position: absolute;
    right: 0px;
}

.dropdown-menu.show.dropdown-menu-rigth {
    position: relative;
    right: 50px;
}
/**formato de boton de menú**/
#dropdown-item-button {
    background-color: black;
    border-color: darkgreen;
    color: green;
    margin-left:13px;
}
/**cajitas de submenu**/
.dropdown-item {
    background-color:rgb(253, 252, 252); 
}
/**contenedor de nombre y logo**/
#contNameLogo {
    margin-top: 0%;
    margin-right:40%; 
}
/**contenedor de barrita de busqueda**/
h1 {  
    margin-top: 1%;
    font-size: 150%;
    color: aliceblue;
    margin-right: 0%;
}
#logo {
    width: 10%;
    margin-left: -17%;
}
#contBarSearch {
    margin-left: 0%;
}
